.main {
  background-color: aliceblue;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
}

.header {
  background-color: blueviolet;
  height: 15vh;
}

.menu {
  background-color: burlywood;
}

.content {
  background-color: darkcyan;
}

.container {
  background-color: bisque;
}